{% extends 'layouts/main.html' %}
{% block title %}RobotClassify | Projects{% endblock %}
{% block content %}

<style>
	.row-striped:nth-of-type(odd){
	  background-color: #efefef;
	}

	.row-striped:nth-of-type(even){
	  background-color: #ffffff;
	}
</style>



<ul class="items">
	{% if count > 0 %}
	    <h1 class="monospace">{{ count }} PROJECTS<h1>
			<!-- Headers-->
			<div class="row">
				<div class="col-sm-3">
					<center>
						<img src="{{ url_for('static',filename='img/step1.png') }}" alt="Load File" />
					</center>
				</div>
				<div class="col-sm-3">
					<center>
						<img src="{{ url_for('static',filename='img/step2.png') }}" alt="Define Run" />
					</center>
				</div>
				<div class="col-sm-3">
					<center>
						<img src="{{ url_for('static',filename='img/step3.png') }}" alt="Train" />
					</center>
				</div>
				<div class="col-sm-3">
					<center>
						<img src="{{ url_for('static',filename='img/step4.png') }}" alt="View Results" />
					</center>
				</div>
			</div>
		{% for project in projects %}
		    <div class="row row-striped">
				<div class="col-sm-3">
					<a href="/projects/{{ project.id }}">
					  <h2 class="monospace">{{ project.name }}</h2>
					</a>	
					<h5>{{ project.description }}</h5>
					<h5>Training on file: {{project.trainingFile}}</h3>
					<h6><p class="subtitle">
						ID: {{ project.id }}
					</p></h6>
				</div>
				<div class="col-sm-9">
					{% if project.runCount>0 %}
						{% for run in project.runs %}
						    <div class="row">
							    <!-- Run Details ---->
								<div class="col-sm-4">
									<h4>Run: {{ run.name }}</h4>
									<h5>{{ run.description }}</h5>
									<h5>Model(s): {% for model in run.modelList %}{{model}}, {% endfor %} </h5>
									<h5>Scoring on {{ run.scoring }}</h5>
									<h6><p class="subtitle">
										ID: {{ run.id }}
									</p></h6>
								</div>
						
								<!-- Training Status -->
								<div class="col-sm-4">
									{% if run.results %}
										<h5>Best Model {{ run.results.final.bestmodel }}</h5>
										<h5>With a {{ run.results.final.scoring }} score of {{ run.results.final.bestscore }}</h5>
									{% else %}
									   {% if user.editor %}
									   	  <h5><a href="/train/{{ run.id }}"><button>Train Model</button></a></h5>
									   {% endif %}
									{% endif %}
								</div>
						
								<!-- Results file -->
								<div class="col-sm-4">
									{% if run.results %}
										<h5><a href="/runs/{{ run.id }}"><button>View Results</button></a></h5>
									{% endif %}
								</div>
							</div>
						{% endfor %}
						{% if user.editor %}
							<div class="row">
								<div class="col-sm-4">
									<h5><a href="/runs/create/{{ project.id }}"><button>Create Another Run</button></a></h5>
								</div>
						    </div>
						{% endif %}
					 {% else %}
						<h5>No runs. {% if user.editor %}<a href="/runs/create/{{ project.id }}"><button>Create a Run</button></a>{% endif %}</h5>
					 {% endif %}
				</div>
			</div>
		{% endfor %}
	{% else %}
  	    <h1 class="monospace">PROJECTS<h1>
	    <h5>No Projects.</h5>
	{% endif %}
	<br>
	{% if user.editor %}
		<div class-"row">
		    <a href="/projects/create" class="btn btn-primary btn-lg btn-block" role="button">Create a New Project</a>
	    </div>
	{% endif %}
</ul>
{% endblock %}

