{% extends 'layouts/main.html' %}
{% block title %}{{ artist.name }} | Artist{% endblock %}
{% block content %}
<div class="row">
	<div class="col-sm-6">
		<h1 class="monospace">
			{{ artist.name }}
		</h1>
		<p class="subtitle">
			ID: {{ artist.id }}
		</p>
		<div class="genres">
			{% for genre in artist.genres %}
			<span class="genre">{{ genre }}</span>
			{% endfor %}
		</div>
		<p>
			<i class="fas fa-globe-americas"></i> {{ artist.city }}, {{ artist.state }}
		</p>
		<p>
			<i class="fas fa-phone-alt"></i> {% if artist.phone %}{{ artist.phone }}{% else %}No Phone{% endif %}
        </p>
        <p>
			<i class="fas fa-link"></i> {% if artist.website %}<a href="{{ artist.website }}" target="_blank">{{ artist.website }}</a>{% else %}No Website{% endif %}
		</p>
		<p>
			<i class="fab fa-facebook-f"></i> {% if artist.facebook_link %}<a href="{{ artist.facebook_link }}" target="_blank">{{ artist.facebook_link }}</a>{% else %}No Facebook Link{% endif %}
        </p>
		
	</div>
	<div class="col-sm-6">
		<img src="{{ artist.image_link }}" alt="Venue Image" />
	</div>
</div>
<section>
	<h2 class="monospace">{{ artist.upcoming_shows_count }} Upcoming {% if artist.upcoming_shows_count == 1 %}Show{% else %}Shows{% endif %}</h2>
	<div class="row">
		{% if artist.upcoming_shows_count > 0 %}
			{%for show in artist.upcoming_shows %}
			<div class="col-sm-4">
				<div class="tile tile-show">
					<img src="{{ show.venue_image_link }}" alt="Show Venue Image" />
					<h5><a href="/venues/{{ show.venue_id }}">{{ show.venue_name }}</a></h5>
					<h6>{{ show.start_time|datetime('full') }}</h6>
				</div>
			</div>
			{% endfor %}
		{% endif %}
	</div>
</section>
<section>
	<h2 class="monospace">{{ artist.past_shows_count }} Past {% if artist.past_shows_count == 1 %}Show{% else %}Shows{% endif %}</h2>
	<div class="row">
		{%for show in artist.past_shows %}
		<div class="col-sm-4">
			<div class="tile tile-show">
				<img src="{{ show.venue_image_link }}" alt="Show Venue Image" />
				<h5><a href="/venues/{{ show.venue_id }}">{{ show.venue_name }}</a></h5>
				<h6>{{ show.start_time|datetime('full') }}</h6>
			</div>
		</div>
		{% endfor %}
	</div>
</section>
<!------
Add Delete and Edit Artist Buttons
-->
<section>
	<div class="row">
		<h3>
			<div class="col-sm-2">
				<a href="/artists/{{ artist.id }}/edit"><button class="btn btn-primary btn-lg">Edit Artist</button></a>
			</div>
			<div class="col-sm-2">
				<form action="/artists/{{ artist.id }}/delete" method="get" onsubmit="return confirm('Are you sure you want to delete this artist?');">
					<button type="submit" class="btn btn-primary btn-lg">Delete Artist</button>
				</form>
			</div>
		</h3>
	</div>
</section>

{% endblock %}

