{% extends 'layouts/main.html' %}
{% block title %}Edit Project{% endblock %}
{% block content %}
  <div class="form-wrapper">
    <form class="form" method="POST" action="/projects/{{project.id}}/edit">
      {{ form.csrf_token }}
      <h3 class="form-heading">Edit Project <em>{{ project.name }}</em> <a href="{{ url_for('index') }}" title="Back to homepage"><i class="fa fa-home pull-right"></i></a></h3>
      <div class="form-group">
        <label for="name">Name</label>
        {{ form.name(class_ = 'form-control', autofocus = true) }}
      </div>
      
      <div class="form-group">
        <label for="address">Description</label>
        {{ form.description(class_ = 'form-control', autofocus = true) }}
      </div>
    
      <div class="form-group">
        <label for="form-run-modelList">Model Type</label>
		    <small>Select one</small>
        {{ form.modelType(class_ = 'form-control', placeholder='modelType', id=form.modelType, autofocus = true) }}
		
      </div>

      <div class="form-group">
        <label for="form-run-modelList">Training Type</label>
		    <small>Select one</small>
        {{ form.trainingType(class_ = 'form-control', placeholder='trainingType', id=form.trainingType, autofocus = true) }}
      </div>

	  <div>
		  <h3>Training files can not be updated </h3>
      <div>
        <label for="trainingFile">Training File</label>
        {{ project.trainingFile }}
	    
      </div>
	
      <div>
        <label for="testingFile">Testing File</label>
        {{ project.testingFile }}
	    
      </div>
 

      <input type="submit" value="Update Project" class="btn btn-primary btn-lg btn-block">
    </form>
  </div>
{% endblock %}
